//Copyright (C)2014-2020 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.7 Beta
//Part Number: GW2A-LV18PG484C8/I7
//Device: GW2A-18C
//Created Time: Sun 11 29 22:55:20 2020

IO_LOC "io_spi_miso" P19;
IO_PORT "io_spi_miso" IO_TYPE=LVCMOS15 PULL_MODE=UP DRIVE=8;
IO_LOC "io_spi_mosi" P20;
IO_PORT "io_spi_mosi" IO_TYPE=LVCMOS15 PULL_MODE=UP DRIVE=8;
IO_LOC "io_spi_csn" N18;
IO_PORT "io_spi_csn" IO_TYPE=LVCMOS15 PULL_MODE=UP DRIVE=8;
IO_LOC "io_spi_clk" P18;
IO_PORT "io_spi_clk" IO_TYPE=LVCMOS15 PULL_MODE=UP DRIVE=8;
IO_LOC "gpio_io[0]" U17;
IO_PORT "gpio_io[0]" IO_TYPE=LVCMOS15 PULL_MODE=UP DRIVE=8;
IO_LOC "sclk" W13;
IO_PORT "sclk" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "rgb_out2" W17;
IO_PORT "rgb_out2" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "rgb_out" W19;
IO_PORT "rgb_out" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "Trig2" U16;
IO_PORT "Trig2" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "Trig" V16;
IO_PORT "Trig" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "SDA_yuyin" V17;
IO_PORT "SDA_yuyin" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "wbuart_tx" V19;
IO_PORT "wbuart_tx" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "sda" W15;
IO_PORT "sda" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "Echo2" V15;
IO_PORT "Echo2" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "Echo" V14;
IO_PORT "Echo" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "key" T19;
IO_PORT "key" IO_TYPE=LVCMOS15 PULL_MODE=UP;
IO_LOC "resetn_in" U20;
IO_PORT "resetn_in" IO_TYPE=LVCMOS15 PULL_MODE=UP;
IO_LOC "clk_in" M19;
IO_PORT "clk_in" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "wbuart_rx" V18;
IO_PORT "wbuart_rx" IO_TYPE=LVCMOS33 PULL_MODE=UP;
